.bg-teal{
    background-color: rgba(6, 43, 11, 0.6);
    color: rgb(239, 234, 216);
}
.bg-green{
    background-color: #8ABB00;
}
.bg-light{
    background-color: #f1f1f1;
}
#navbarNav a:hover{
    color: #8ABB00;
}
.text-shadow{
    text-shadow: black 2px 5px 5px;
}
.move-up{
    top: 50%;
}

/* MEDIA QUERIES FOR MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) {
    .abs-top{
        position: relative;
    }
    .move-up{
        top: 50vh;
    }
}
/* Clients Carousel */
.MultiCarousel {
    float: left; overflow: hidden; padding: 15px; width: 100%; position:relative;
}
    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all; float: left;
    }
        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
        }
        .MultiCarousel .MultiCarousel-inner .item > div {
            text-align: center; padding:10px; margin:10px; color:#666;
        }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position:absolute; border-radius:50%;top:calc(50% - 20px);
    }
    .MultiCarousel .leftLst {
        left:0;
    }
    .MultiCarousel .rightLst {
        right:0;
    }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none; background:#ccc;
        }
    .pad15 img{
        height: 100px;
    }