.bg-teal{
    background-color: rgba(6, 43, 11, 0.6);
    color: rgb(239, 234, 216);
}
.btn-outline-success{
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid #8ABB00!important;
}
.btn-outline-success:hover{
    background-color: #8ABB00;
    color: black;
}
.bg-green{
    background-color: #8ABB00;
}
.btn-dark:hover, .btn-dark:focus-within{
    background-color: #8ABB00;
    border-color: #8ABB00;
}
.text-green{
    color: #8ABB00;
}
.bg-light{
    background-color: #f1f1f1;
}
#navbarNav a:hover{
    color: #8ABB00;
}
.text-shadow{
    text-shadow: black 5px 5px 5px;
}
.move-up{
    top: 50%;
}
.placeholder{
    background-color: white;
    height: 140px;
}

/* Responsive iFrame */
.iframeContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Products Cards Titles */
.pushdown{
    margin-bottom: -50px;
}

/* Tile Calculator */
.colorGradient{
    background-image: linear-gradient(rgb(71, 71, 71), rgb(75, 105, 35));
}
.clear{
    font-size: 0.6em;
    margin-left: -50px;
}
.solution{
    display: none;
}
.calcshadow{
    box-shadow: 5px 5px 15px black;
}
/* Contact Us */
.wallpaper{
    background: url('/sope-mosuro.github.io/images/backImage.png') fixed no-repeat center;
}
.contactBlack{
background-color: rgba(0, 0, 0, 0.8);
}
.border-green{
    border-color:  #8ABB00!important;
}
/* MEDIA QUERIES FOR MOBILE RESPONSIVENESS */

@media only screen and (max-width: 600px) {
    .abs-top{
        position: relative;
    }
    .move-up{
        top: 50vh;
    }
    .placeholder{
        height: 0px;
    }
}
/* Clients Carousel */
.MultiCarousel {
    float: left; overflow: hidden; padding: 15px; width: 100%; position:relative;
}
    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all; float: left;
    }
        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
        }
        .MultiCarousel .MultiCarousel-inner .item > div {
            text-align: center; padding:10px; margin:10px; color:#666;
        }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position:absolute; border-radius:50%;top:calc(50% - 20px);
    }
    .MultiCarousel .leftLst {
        left:0;
    }
    .MultiCarousel .rightLst {
        right:0;
    }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none; background:#ccc;
        }
    .pad15 img{
        height: 100px;
    }