body{
    width: auto;
}
.vis_page{
    display: none;
    height: 100vh;
}
.imageContainerParent{
    position: relative;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
.imageContainer{
    position: absolute;
    background-image: url('/sope-mosuro.github.io/images/onwall/stripewood.jpg');
    background-size: 40px;
}

.home .col-md-4 h5{
    text-shadow: 2px 2px 5px black;
}
.back-btn, .home > div > div > div > div{
    cursor: pointer;
}

@media (min-width:801px){
    .vh-75{
        height: 75vh;
    }
    .imageContainer{
        position: absolute;
        background-image: url('/sope-mosuro.github.io/images/onwall/stripewood.jpg');
        background-size: 60px;
    }
}